node_modules
.env
.env.local
.env.*
.DS_Store

.secrets/
flowpay-deploy.tgz

# Backend
backend/dist
backend/.env*

# Frontend
frontend/.next
frontend/out

# Blockchain
blockchain/cache
blockchain/artifacts
blockchain/typechain-types
